---
import "../../styles/global.css";
import ProjectCard from "./ProjectCard.astro";

export interface Props {
    weeklyMenus: any[];
    title: string;
}

const { weeklyMenus, title } = Astro.props;
---

<div class="mb-8">
    <h1 class="text-3xl font-bold mb-6">{title}</h1>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {weeklyMenus.map((menu) => (
            <ProjectCard
                key={menu.data.title}
                href={`/weeklyMenus/${menu.slug}`}
                heading={menu.data.title}
                subheading={menu.data.description}
                altText={menu.data.image?.alt}
                imagePath={menu.data.image?.url}
                dateStart={menu.data.startDate}
            />
        ))}
    </div>
    
    {weeklyMenus.length === 0 && (
        <p class="text-center text-gray-500 my-12">No weekly menus found.</p>
    )}
</div>
