---
export interface Props {
    slug: string;
    image: string;
    title: string;
    desc: string;
}

const { slug, image, imageAlt, title, desc } = Astro.props;

---

<figure class="w-full max-w-[350px] rounded-3xl shadow-2xl overflow-hidden">
    <div class="aspect-square overflow-hidden">
        <a href={`/recipes/${slug}`}>
        <img
                class="w-full h-full object-cover rounded-3xl shadow-2xl"
                src={image}
                alt={imageAlt}
                width="350"
                height="350"
        /></a>
    </div>
    <figcaption class="mt-4 px-6">
        <h3 class="text-sm text-aquamarine-blue-400">
            <a href="#">
                {title}
            </a>
        </h3>
        <p class="mt-1 text-md font-small leading-5 text-wild-sand-50">
            {desc}
        </p>
    </figcaption>
</figure>
