---
export interface Props {
    image: string;
    alt_desc: string;
    name: string;
    desc: string;
    cost: string;
}

const { image, alt_desc, name, desc, cost } = Astro.props;
---
<figure class="w-full max-w-[350px] rounded-3xl shadow-2xl overflow-hidden">
    <div class="aspect-square p-2 flex justify-center items-center">
        <img
                class="max-w-full max-h-full object-contain rounded-3xl shadow-2xl"
                src={image}
                alt={alt_desc}
                width="350"
                height="350"
        />
    </div>
    <div class="mt-4 flex justify-between px-6">
        <div>
            <h3 class="text-sm text-aquamarine-blue-400">
                <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {name}
                </a>
            </h3>
            <p class="mt-1 text-sm font-medium leading-5 text-wild-sand-50">
                {desc}
            </p>
        </div>
        <p class="text-base text-wewak-200">{cost}</p>
    </div>
</figure>
