---
import shop from '../data/shopDB.json'; // Import the JSON file
import ShopItem from './ShopItem.astro'; // Import the shopItem component
---
<main class="relative overflow-hidden">
    <div class="relative mx-auto px-8 max-w-7xl py-12   md:px-12">
        <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
                {shop.map((item) => (
                        <ShopItem
                                image={item.image}
                                alt_desc={item.alt_desc}
                                name={item.name}
                                desc={item.desc}
                                cost={item.cost}
                        />
                ))}
        </div>
    </div>
</main>