---
export interface Props {
    image: string;
    alt_desc: string;
    name: string;
    desc: string;
    cost: string;
}

const { image, alt_desc, name, desc, cost } = Astro.props;
---
<figure>
    <img
            class="w-full rounded-3xl shadow-2xl"
            src={image}
            alt={alt_desc}
            width="1310"
            height="873"
    />
    <div class="mt-4 flex justify-between px-6">
        <div>
            <h3 class="text-sm text-aquamarine-blue-400">
                <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {name}
                </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-wild-sand-50">
                {desc}
            </p>
        </div>
        <p class="text-base text-wewak-200">{cost}</p>
    </div>
</figure>