---
import '../../styles/global.css';
import Navigation from './Navigation.astro';
import { siteConfig } from "../../config/siteConfig.js";
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>{siteConfig.siteData.siteName}</title>
<meta
  name="description"
  content="A brief description of your website content."
/>
<meta name="keywords" content="astro, schoollunches, node" />
<meta name="author" content={siteConfig.siteData.developerName} />

<!-- Favicons -->
<link rel="icon" href={siteConfig.siteData.favicon} sizes="any" />
<link rel="icon" href={siteConfig.siteData.favicon} type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Favicon for IE -->
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

<!-- Favicons for different sizes -->
<link rel="icon" type="image/png" sizes="16x16" href={siteConfig.siteData.favicon16x16} />
<link rel="icon" type="image/png" sizes="32x32" href={siteConfig.siteData.favicon32x32} />
<link rel="icon" type="image/png" sizes="48x48" href={siteConfig.siteData.favicon48x48} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={siteConfig.siteData.siteUrl} />
<meta property="og:title" content={siteConfig.siteData.siteName} />
<meta
  property="og:description"
  content="A brief description of your website content."
/>
<meta
  property="og:image"
  content="https://www.dragonnbao.co/path/to/image.jpg"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={siteConfig.siteData.siteUrl} />
<meta property="twitter:title" content={siteConfig.siteData.siteName} />
<meta
  property="twitter:description"
  content="A brief description of your website content."
/>
<meta
  property="twitter:image"
  content={siteConfig.siteData.favicon16x16}
/>

<!-- Canonical URL -->
<link rel="canonical" href={siteConfig.siteData.siteUrl} />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Apple Touch Icon (already included in favicons, but keeping for backwards compatibility) -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#3E433E" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<header class="header">
    <!-- Navigation Links -->
    <Navigation />
</header>


